name: Release if needed
on:
  workflow_run:
    workflows: ["CI"]
    branches: [main, master]
    types: 
      - completed

jobs:
  release-if-should:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'
          cache: 'npm'
          cache-dependency-path: |
            package.json
            package-lock.json
      - run: npm ci
      - run: npx zx-bulk-release
        env:
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
          GH_TOKEN: ${{ secrets.GORELEASER_PAT }}
